@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");
body, html{
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
#root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sound_container{
    position: absolute;
    top: 6px;
    left: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sound{
    width: 41px;
    height: 41px;

    margin: 6px;
    cursor: pointer;
    padding: 4px;
    transition: box-shadow 0.2s ease-in-out;
}
.sound:hover{
    box-shadow: 0px 0px 5px 3px hsl(203, 84%, 60%);
}
#canvas{
    border: 1px solid black;
    
    /*border-radius: 8px;*/
}